{{define "detail"}}
    {{template "layout/header" .Header}}
    {{template "layout/left" .Auth}}
    <link rel="stylesheet" href="/static/editor/css/editormd.min.css">
    {{with .Article}}
    <div class="main-wrapper">
        <article class="blog-post px-3 py-5 p-md-5">
            <div class="container">
                <header class="blog-post-header">
                    <h2 class="title mb-2">{{.Title}}</h2>
                    <div class="meta mb-3"><span class="date"><i class="fa fa-calendar">&nbsp;</i>{{.CreatedAt}}</span><span class="time"><i class="fa fa-eye"></i>&nbsp;{{.ViewNum}}</span><span class="comment"><a href="#">4 comments</a></span></div>
                </header>
                <div class="blog-post-body markdown-body editormd-preview-container editormd-html-preview" id="editor" style="padding: 0px;">
                    {{- .ContentHtml | html -}}
                </div>
                <nav class="blog-nav nav nav-justified my-5">
                    <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                    <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                </nav>
            </div>
        </article>
        {{template "layout/section_footer"}}
        <div style="width: 100px;
    right: 0px;
    position: fixed;
    top: 50px; z-index: 888; border: 1px solid #5469c9" id="directory">
            <div style="text-align: center;height: 50px; line-height: 50px; background-color: #5469c9;color: #ffffff;" >
                <i class="fa fa-list"></i> 文章目录
            </div>
        </div>
        <div class="text-white" id="directory_content">
            <h4 class="text-white m-3 mt-5 mb-5 text-center border-bottom border-white pb-3">文档章节</h4>
            {{.DirectoryHtml | html}}
        </div>
    </div>
    {{end}}
    {{template "layout/footer"}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
{{end}}