{{define "join"}}
    {{template "layout/header"}}
    {{template "layout/left" .Auth}}
    <div class="main-wrapper">
        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center">
                <h3 class="heading">菜鸟驿站 - 一个知识提升的港湾！
                    <br>
                    <small class="text-muted">
                        侠之小者，汲日月之精华；侠之大者，济天下之菜鸟。
                    </small>
                </h3>
                <div class="intro"></div>
            </div>
        </section>
        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">
                <div class="p-3 shadow-lg" style="max-width: 475px; margin: auto">
                    <h2 class="text-center">注册账户</h2>
                    <form class="mt-5 m-3" id="form-login">
                        <div class="form-group mt-5">
                            <input type="text" name="email" class="form-control" placeholder="email">
                        </div>
                        <div class="form-group mt-5">
                            <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        <button class="btn btn-block btn-dark mt-5" type="submit">Longin</button>
                    </form>
                </div>
            </div>
        </section>
        {{template "layout/section_footer"}}
    </div>
    {{template "layout/footer"}}
{{end}}