{{define "layout/header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Golang Hub</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Golang Hub 侠之小者，汲日月之精华；侠之大者，济天下之菜鸟。">
        <meta name="author" content="达摩007">
        <link rel="apple-touch-icon" href="/static/golang_icon.svg" sizes="180x180">
        <link rel="icon" href="/static/golang_icon.svg" sizes="32x32" type="image/png">
        <link rel="icon" href="/static/golang_icon.svg" sizes="16x16" type="image/png">
        <link rel="mask-icon" href="/static/favicon.ico" color="#563d7c">
        <link rel="icon" href="/static/favicon.ico">
        <link id="theme-style" rel="stylesheet" href="/static/css/light.css">
        <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.min.css">
    </head>
    <body>
{{end}}